<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>
<!-- When the submit button is pressed, the form will submit to the relative page createUserPage
	the method for sending the data will be by http post
	the data in the body will look like:
	userid=blahblah&username=blahblah&authorizationlevel=blah&password=blah&confirmpassword=blah&submit=

	The parts inside <% %> are ruby code; this is the magic of it being an erb.
	This is similar to traditional ASP.
-->
<%= form_for(@user, :url => users_path) do |f| %>
	<%= render 'shared/error_messages' %>
	<fieldset>
		<legend>Update a user</legend>
		<%= f.hidden_field :id %>
		<%= f.label :UserID %>
		<%= f.text_field :UserID %>
		<%= f.label :UserName %>
		<%= f.text_field :UserName %>
		<%= f.label :AuthorizationLevel %>
		<%= f.text_field :AuthorizationLevel %>
		<%= f.label :password %>
		<%= f.password_field :password %>
 		<%= f.label :password_confirmation, "Confirmation" %>
		<%= f.password_field :password_confirmation %>
		<%= f.submit "Save" %>
	</fieldset>
<% end %>
