<h3>User List</h3>

<fieldset><legend>User Details</legend>
		<table>
			<tr>
				<th>User ID</th>
				<th>User Name</th>
				<th>Authorization Level</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
			<% User.where("").each { |user| %>
			<tr>
				<td><%=user.userid%></td>
				<td><%=user.username%></td>
				<td><%=user.authorizationlevel%></td>
				<td><a href="/users/<%=user.id%>">view</a></td>
				<td><a href="/users/<%=user.id%>/edit">edit</a></td>
				<td><a href="/users/<%=user.id%>/destroy">delete</a></td>
			</tr>
			<% } %>
		</table>
</fieldset>
<br>

<a href="/users/new">Create new user</a>

<!-- Need to add some spacing and formatting CSS to make table more legible -->
