<h3>Create a new user</h3>

<!-- When the submit button is pressed, the form will submit to the relative page createUserPage
	the method for sending the data will be by http post
	the data in the body will look like:
	userid=blahblah&username=blahblah&authorizationlevel=blah&password=blah&confirmpassword=blah&submit=

	The parts inside <% %> are ruby code; this is the magic of it being an erb.
	This is similar to traditional ASP.
-->
<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages' %>
	<fieldset><legend>User Details</legend>
		<ul>
			<li><%= f.label :userid , "User ID"%></li>
			<li><%= f.text_field :userid %></li>
			<li><%= f.label :username , "User Name"%></li>
			<li><%= f.text_field :username %></li></li>
			<li><%= f.label :authorizationlevel, "Authorization Level (2 = student, 3 = teacher, 4 = admin)" %>
			<li><%= f.text_field :authorizationlevel %></li>
			<li><%= f.label :password %></li>
			<li><%= f.password_field :password %></li>
			<li><%= f.label :password_confirmation, "Confirm Password" %></li>
			<li><%= f.password_field :password_confirmation %></li>
			<br>
			<li><%= f.submit "Save" %></li>
		</ul>
	</fieldset>
<% end %>



