<p id="notice"><%= notice %></p>

<p><b>Title:</b><%= @document.filename %></p>
<p><b>Description:</b><%= @document.description %></p>
<p><b>Authorization Level:</b><%= @document.authorizationlevel %></p>
<p><b>Owner:</b><%= @document.owner %></p>
<p><b>Created:</b><%= @document.created_at %></p>
<p><b>Updated:</b><%= @document.updated_at %></p>
<p><iframe src ="<%= @document.contents %>"> </iframe></p>


<%= link_to 'Back', documents_path %>
