<h3>Document Details</h3>
<fieldset><legend><%= @document.filename %></legend>

<p id="notice"><%= notice %></p>

<p><b>Description:</b><%= @document.description %></p>
<p><b>Authorization Level:</b><%= @document.authorizationlevel %></p>
<p><b>Owner:</b><%= @document.owner %></p>
<p><b>Created:</b><%= @document.created_at %></p>
<p><b>Updated:</b><%= @document.updated_at %></p>
<p><b>Rating: </b>
<% if @document.rating_count.to_i != 0 %>
  <%= @document.rating_avg.to_f/@document.rating_count.to_i %></p>
<% else %>
  Unrated</p>
<% end %>
<p><iframe src ="<%= @document.contents %>"> </iframe></p>

<%if @loggedinuser && @loggedinuser.authorizationlevel >= 2 %>

	<br><br>
        <%= form_tag({:controller => "documents", :action => "addrating"}, "method" => "post") do %>

	<%= label_tag "rating", "Your rating (1-10):" %><br />
	<%= select_tag "document[rating]", options_for_select((1..10).step(1)) %>
	<%= submit_tag("Update Rating")%>
	<% end %>
<% end %> 



</fieldset>
<%= link_to 'Back', documents_path %>
<hr />
<table>
	<tr>
		<th>
			Comments:
		</th>
	</tr>
	<% @document.comments.each do |comment| %>
	<tr>
		<td>
			<table>
				<tr>
					<td>
						<table>
							<tr>
								<td>
									<%=comment.commenter%>
								</td>
							</tr>
							<tr>
								<td>
									<%=comment.created_at%>
								</td>
							</tr>
						</table>
					</td>
					<td>
						<%=comment.body%>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<% end %>
<%if @loggedinuser && @loggedinuser.authorizationlevel >= 2 %>
	<tr>
		<td>
			<%= form_tag({:controller => "documents", :action => "addcomment"}, "method" => "post") do %>
			<%= text_area_tag(:newcomment, "", :size => "80x6") %>
			<%= submit_tag("Add Comment") %>
			<% end %>
		</td>
	</tr>
<% end %> 
</table>
<%= link_to 'Back', documents_path %>
