<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @document.FileName %>
</p>
<p>
  <b>Authorization Level:</b>
  <%= @document.AuthorizationLevel %>
</p>

<p>
  <iframe src ="<%= @document.Contents %>"> </iframe>
</p>


<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
