<h3>Document Details</h3>
<fieldset><legend><%= @document.filename %></legend>

<p id="notice"><%= notice %></p>

<p><b>Description:</b><%= @document.description %></p>
<p><b>Authorization Level:</b><%= @document.authorizationlevel %></p>
<p><b>Owner:</b><%= @document.owner %></p>
<p><b>Created:</b><%= @document.created_at %></p>
<p><b>Updated:</b><%= @document.updated_at %></p>
<p><b>Rating: </b>
<% if @document.rating_count.to_i != 0 %>
  <%= @document.rating_avg.to_f/@document.rating_count.to_i %></p>
<% else %>
  Unrated</p>
<% end %>
<p><iframe src ="<%= @document.contents %>"> </iframe></p>

<%if @loggedinuser && @loggedinuser.authorizationlevel >= 2 %>

	<%= form_for @document, :html => {:multipart => true} do |f| %>
	  <% if @document.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>
	      <ul>
	      <% @document.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	<br><br>
	  <div class="field">
	    <%= f.label :rating , "Your rating (1-10):" %><br />
	    <%= f.select :rating, 1..10 %>
	  </div>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>
<% end %> 



</fieldset>
<hr />
<table>
	<tr>
		<th>
			Comments:
		</th>
	</tr>
	<% @document.comments.each do |comment| %>
	<tr>
		<td>
			<table>
				<tr>
					<td>
						<table>
							<tr>
								<td>
									<%=comment.commenter%>
								</td>
							</tr>
							<tr>
								<td>
									<%=comment.created_at%>
								</td>
							</tr>
						</table>
					</td>
					<td>
						<%=comment.body%>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<% end %>
	<tr>
		<td>
			<%= form_tag({:controller => "documents", :action => "addcomment"}, "method" => "post") do %>
			<%= text_area_tag(:newcomment, "", :size => "80x6") %>
			<%= submit_tag("Add Comment") %>
			<% end %>
		</td>
	</tr>
</table>
<%= link_to 'Back', documents_path %>
