<h2>Content for Teachers</h2>
<p>This is just the view content for authUser view</p>
<table>
	<tr>
		<th>
			View Link
		</th>
		<th>
			Delete Link
		</th>
		<th>
			Filename
		</th>
		<th>
			Description
		</th>
		<th>
			Owner
		</th>
	</tr>
	<!-- Document is the Model class (derived from ActiveRecord::Base) which connects to our documents table
	     in the database.  where is a standard method of ActiveRecord which gets translated to a properly
	     formatted where clause in the database.  In this case the where clause is empty (there may be a better
	     method to use in this case).
	     The return value is a collection of Document objects (actually an array).  Calling the each method
	     on the collection allow iterating in a loop; the loop is defined by {..} (an alternate syntax to do..end), and the loop variable (the
	     iterated variable from the collection) is denoted by enclosing between pipes (|)
	 -->
	<% Document.where("").each { |doc| %>
	<tr>
		<td>
			<a href="view?id=<%=doc.id%>">view</a>
		</td>
		<td>
			<a href="delete?id=<%=doc.id%>">delete</a>
		</td>
		<td>
			<%=doc.FileName%>
		</td>
		<td>
			<%=doc.Description%>
		</td>
		<td>
			<%=doc.Owner%>
		</td>
	</tr>
	<% } %>
</table>
