<!DOCTYPE html>
<html>
<head>
  <title>MathWorld</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<h1>Math World</h1>
	<h2>A sharing resource for math teachers & their students</h2>
</header>

<%= render 'layouts/nav' %>	

<div class="main_content">
	<%= yield %>  <!-- This pulls from the view and places it here.  Views will exist in div "main_content" class. -->
</div>
	
<%= render 'layouts/footer' %>


</body>
</html>


